:root {


	color-scheme: light dark;

	--verde-oscuro: #324241;
	--verde-claro: #94b494;
	--verde-agua: #e8f0e0;
	--amarillo-claro: #f4f0c4;
	--fondo-gris: #e3e3d3;
	--amarillo: #f4cc84;
	--rojo: #c45e5b;
	--naranja: #e09b5e;
	--marron: #ac8a64;


}

/* system */
@media (prefers-color-scheme: dark) {
	:root {
		--bg-color: var(--verde-oscuro);
		--txt-color: var(--fondo-gris);
	}

}

@media (prefers-color-scheme: light) {
	:root {
		--bg-color: var(--fondo-gris);
		--txt-color: var(--verde-oscuro)
	}
}

/* override */
:root[data-theme="dark"] {
	--bg-color: var(--verde-oscuro);
	--txt-color: var(--fondo-gris);
	color-scheme: dark;


}

:root[data-theme="light"] {
	--bg-color: var(--fondo-gris);
	--txt-color: var(--verde-oscuro);
	color-scheme: light;

}

body {
	/* background-color: #e3e3d3; */
	background-color: var(--bg-color);
	color: var(--txt-color);


}

header {
	display: flex;
	gap: 1rem;
	margin: 1rem 12rem;
	justify-content: center;
	align-items: center;

	#toggle-theme {
		margin-left: auto;
		border: none;
		background-color: transparent;
		font-size: large;
	}

	img {
		width: 100px;
		height: 100px;

	}
}

#toggle-theme:hover {
	scale: 1.2;
}

#container-main {
	display: flex;
	justify-content: center;
	min-height: 55vh;
}

#form-template {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2rem;
	gap: 1rem;
	background: rgba(255, 255, 255, 0.1);
	/* Fondo blanco transparente */
	backdrop-filter: blur(10px);
	/* Efecto desenfoque */
	-webkit-backdrop-filter: blur(10px);
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	/* Borde sutil */
	padding: 20px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

	/* Sombra */
	div {
		display: grid;
		grid-template-columns: 120px 1fr;
		gap: 10px;
		align-items: center;
	}
}

input[type="text"] {
	padding: 10px;
	border: 2px solid var(--verde-oscuro);
	border-radius: 4px;
	font-size: 16px;

	transition: border-color 0.3s;
}

input[type="text"]:focus {
	border-color: #94b494;
	outline: none;
}


.buttons {

	display: grid;
	padding: calc(1rem/2);
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1rem;

	button {
		border: none;
		border-radius: 8px;
		font-style: italic;
	}

	bottom:hover {
		scale: 1.1;
	}
}

footer {
	display: flex;
	justify-content: center;
}